VITE_API_URL=http://localhost:3442

VITE_MAPBOX_ACCESS_TOKEN=
VITE_MAPBOX_STYLE=mapbox://styles/mapbox/streets-v12
VITE_MAPBOX_DEFAULT_CENTER_LAT=53.9045
VITE_MAPBOX_DEFAULT_CENTER_LNG=27.5615
VITE_MAPBOX_DEFAULT_ZOOM=12
VITE_MAPBOX_MIN_ZOOM=5.8
VITE_MAPBOX_MAX_ZOOM=18
VITE_MAPBOX_BOUNDS_WEST=23.1783
VITE_MAPBOX_BOUNDS_SOUTH=51.2620
VITE_MAPBOX_BOUNDS_EAST=32.7768
VITE_MAPBOX_BOUNDS_NORTH=56.1722
VITE_MAPBOX_BOUNDS_EXPANSION_RATIO=0.8
VITE_MAPBOX_BOUNDS_ELASTIC_BUFFER_RATIO=0.18
VITE_MAPBOX_BOUNDS_WEST_EXPANSION_RATIO=1.2
VITE_MAPBOX_BOUNDS_EAST_EXPANSION_RATIO=0.4
VITE_MAPBOX_BOUNDS_SOUTH_EXPANSION_RATIO=0.4
VITE_MAPBOX_BOUNDS_NORTH_EXPANSION_RATIO=0.4

VITE_GOOGLE_MAPS_EMBED_API_KEY=
VITE_YANDEX_MAPS_API_KEY=
VITE_YANDEX_METRIKA_ID=
VITE_GOOGLE_CLIENT_ID=
VITE_GA_MEASUREMENT_ID=
VITE_TELEGRAM_SHARE_URL=https://t.me/share/url
VITE_WHATSAPP_SHARE_URL=https://wa.me/
VITE_VK_SHARE_URL=https://vk.com/share.php
VITE_INSTAGRAM_URL=https://www.instagram.com/

VITE_SITE_TITLE=Events in Warsaw | Mapa
VITE_SITE_DESCRIPTION=Discover the most interesting events and places in Warsaw on one map.
VITE_OG_TITLE=Events in Warsaw | Mapa
VITE_OG_DESCRIPTION=Discover the most interesting events and places in Warsaw on one map.
VITE_SITE_URL=https://my-mapa.by
