node_modules
npm-debug.log*
.env
.git
.gitignore
Dockerfile
.dockerignore
.idea
eslint.config.js
.prettierrc
README.md
docker-compose.yml
LICENSE
tests
test.events.DB.json
test.users.DB.json
uploads
logs

