VITE_API_URL=http://localhost:3442
VITE_MAPBOX_ACCESS_TOKEN=
VITE_MAPBOX_STYLE=mapbox://styles/mapbox/streets-v12
VITE_MAPBOX_DEFAULT_CENTER_LAT=53.9045
VITE_MAPBOX_DEFAULT_CENTER_LNG=27.5615
VITE_MAPBOX_DEFAULT_ZOOM=12
VITE_MAPBOX_MIN_ZOOM=4
VITE_MAPBOX_MAX_ZOOM=18
VITE_MAPBOX_GEOCODING_COUNTRY=by
VITE_MAPBOX_GEOCODING_LANGUAGE=ru
